<div id = <%= "comment_score_#{comment.id}"%>>
<div class="col-md-1 text-right" >
              <p class="text-right">
                <%= link_to "#{comment.get_upvotes.size}", upvote_comment_path(comment.id), remote:true, 
                class: "fa fa-thumbs-up", id: "#{comment.id}_upvote", title: 'Upvote comment', rel: 'tooltip'  %></p>
            </div>
            <div class="col-md-1 text-right">
              <p class="text-right">
                <%= link_to "#{comment.get_downvotes.size}", downvote_comment_path(comment.id), remote:true, 
                class: "fa fa-thumbs-down", id: "#{comment.id}_downvote", title: 'Downvote comment', rel: 'tooltip'  %></p>
            </div>
            </div>