<div class="navbar navbar-inverse navbar-fixed-top nav-down">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color:#ffffff">
            <span class="icon-bar" style="background-color: #000000"></span>
            <span class="icon-bar" style="background-color: #000000"></span>
            <span class="icon-bar" style="background-color: #000000"></span>
          </button>       
           <div class="logo_container"><a href="/" class="logo_container"><img src="/assets/headcycle.png" alt="Headcycle: what are you thinking about?"></a> <a href="/"><span id="site_name">Headcycle</span></a> <a href="/" class="log_line"><span class="log_line_container">what are you thinking about?</span></a></div>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <li class="hidden-sm hidden-md hidden-lg"><a href="/login" data-remote="true" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-refresh"></span> new post</a></li>
          <li class="hidden-sm hidden-md hidden-lg"><a href="/login" data-remote="true" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-link"></span> new link</a></li>
          <li class="hidden-sm hidden-md hidden-lg"><a href="/headcycles"><span class="glyphicon glyphicon-list"></span> headcycles</a></li>
          <li class="hidden-sm hidden-md hidden-lg"><a href="/search"><span class="glyphicon glyphicon-search"></span> search</a></li>
          <li class="hidden-sm hidden-md hidden-lg"><a href="/wordcloud"><span class="glyphicon glyphicon-cloud"></span> wordcloud</a></li>
          <li><a id="not_logged_in" href="/login" data-remote="true" data-toggle="modal" data-target="#myModal">login</a></li>
            <li><a href="/sign_up" data-remote="true" data-toggle="modal" data-target="#myModal">sign up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="comment_filters_container" class="comment_filters_container"><a href="/">popular</a> · <a href="/new" class="comment_filter">new</a></div>
    <div style="height: 10px"></div>