<div class="comments_container">

<div class="comment_table">
  <div class="comment_row">
    <div class="comment_cell">
        <div style="margin-right:20px;padding-top: 6px">
            <a class="comments_title_container" href="https://youtu.be/HQoOfiLz1G4" target="w_1490527906"><img src="https://s3.amazonaws.com/headcycle/6c56927e1167" alt="Sound City Official Trailer - YouTube"></a>
            <%= link_to model_path(@model) %>
        </div>
    </div>
    <div class="comment_cell">
        <a class="comments_title_container" href="https://youtu.be/HQoOfiLz1G4" target="w_1490527906">Sound City Official Trailer - YouTube <span class="glyphicon glyphicon-link" style="font-size: 20px"></span></a> <span class="site_container">(youtu.be)</span>
        <div class="comments_info_container">
            submitted by <a href="/user/jimi14" style="font-weight: bold">jimi14</a> 2 days ago to <a href="/h/music" style="font-weight: bold">/h/music</a></div>
            <div class="comments_count_container"><a class="comments_count_color" href="#">0 comments</a> · <a href="#">initial post</a> · <a href="#" onclick="$('#share_25a6d979d28c').slideToggle();return false">share</a></div>
            <div id="share_25a6d979d28c" class="share" style="font-size:20px;padding:10px;display:none;background-color: #f6f6f6;border:2px dashed #cccccc">
                <div style="text-align:right"><a href="#" onclick="$('#share_25a6d979d28c').slideToggle();return false" style="color:#cccccc"><span class="glyphicon glyphicon-remove"></span></a></div>
                Share with: <a style="display:inline-block;" data-toggle="tooltip" title="" href="#" target="_blank" data-original-title="Share to facebook"><img src="/facebook_48.png" width="48" alt="share on facebook"></a>&nbsp;
                <a style="display:inline-block;" data-toggle="tooltip" title="" href="#" target="_blank" data-original-title="Share to twitter"><img src="/twitter_48.png" width="48" alt="share on twitter"></a>&nbsp;
                <a style="display:inline-block;" data-toggle="tooltip" title="" href="#" target="_blank" data-original-title="Share to google+"><img src="/google-plus_48.png" width="48" alt="share on google+"></a>&nbsp;
                <a href="/login" style="display:inline-block;" data-remote="true" data-target="#myModal" data-toggle="modal" title="Share via email"><img src="/email2_48.png" width="48" alt="share via email"></a>
            </div>
        </div>
    </div>	
</div>
</div>